---
import { astroI18n } from 'astro-i18n';
import Layout from '../layouts/Layout.astro';

import { t } from 'astro-i18n'

---

<Layout title="Welcome to Astro.">
	<div>Locale: {astroI18n.locale}</div>
	<div>{t('common.example')}</div>
	<div>{t('example')}</div>
</Layout>
