---
import { astroI18n } from 'astro-i18n';
import Layout from '../layouts/Layout.astro';

import { t } from 'astro-i18n'

---

<Layout title="Welcome to Astro.">
	<div>Locale: {astroI18n.locale}</div>
	<div>from common: {t('from_common')}</div>
	<div>from common group: {t('common.from_common')}</div>
	<div>from route: {t('example')}</div>
</Layout>
