---
import { astroI18n, t } from 'astro-i18n';
import Layout from '../../layouts/Layout.astro';

console.log(astroI18n.internals)
console.log(astroI18n.internals.config.translations.admin)
---

<Layout title="Admin">
	<div>Locale: {astroI18n.locale}</div>
	<div>from common: {t('hello')}</div>
	<div>from group: {t('admin.how_are_you')}</div>
   <div>from group: {t('how_are_you')}</div>
</Layout>