---
import { astroI18n, t } from 'astro-i18n';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Nested">
	<div>Locale: {astroI18n.locale}</div>
	<div>from common: {t('from_common')}</div>
	<div>from route: {t('nested_translation')}</div>
</Layout>
